body {
    color: #C8CBD9;
    background-color: #17181C;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
}

.album-art {
    height: 70px;
    object-fit: cover;
    margin-bottom: 20px;
    width: 100%;
}

.season, .link-list li {
    list-style: none;
    margin-bottom: 15px;
}

a {
    color: #ef6eae;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #ef6eae;
    color: #fff;
}

.selected-link span a {
    background-color: #ef6eae;
    color: #fff;
}

.button-link {
    color: #ef6eae;
    border: 1px solid #ef6eae;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link:hover {
    background-color: #ef6eae;
    color: #fff;
    text-decoration: none;
}

.list-and-nav {
    width: 100%;
}

.nav {
    top: 50px;
    position: sticky;
    z-index: 99;
    overflow: auto;
    height: 90vh;;    
    /*text-align: right;*/
}

.description {
    margin-bottom: 20px;
}

.year {
    color: #4F5159;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}

.liner-notes {
    margin-bottom: 25px;
    max-width: 600px;
}

ol {
    line-height: 1;
    margin-bottom: 30px;
}

.footnotes {
    color: #999;
    font-size: 13px;
    font-style: italic;
    margin-top: -20px;
}