body {
    background-color: #27273d;
    color: #fff;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

a {
    text-decoration: none;
}

/* nav */

nav {
    background-color: #27273d;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    text-align: right;
    text-transform: lowercase;
    top: 0;
    z-index: 2;
    
}

.nav-link {
    color: #585879;
}

.nav-link:hover {
    color: #fff;
}

/* modal */

.modal {
    background-color: rgba(0,0,0,.7);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #27273d;
    border-radius: 5px;
    margin: 10% auto;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 30px 20px 30px;
    text-align: left;
    max-width: 760px;
    text-transform: none;
}

.modal-p:first-of-type {
    top: 10px;
}

.modal-link {
    color: #0cb990;
}

.modal-link:hover {
    color: #fff;
}

#closeBtn {
    color: #585879;
    font-size: 22px;
    float: right;
    margin-top: -8px;
    margin-right: -14px;
}

#closeBtn:hover, #closeBtn:focus {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/*  playlist header */

.unselected-playlist {
    align-items: center;
    align-content: center;
    border-radius: 1px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.year-season-group {
    display: flex;
    align-items: center;
}

.year {
    color: #585879;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.season {
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: lowercase;
}

.social-i {
    color: #585879;
    font-size: 20px;
    margin: auto 5px;
}

.social-i:hover {
    color: #fff;
}

/* playlist header hover */

.playlist-header:hover {
    background-color: #0cb990;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.playlist-header:hover .year {
    color: #afded3;
}

.playlist-header:hover .social-i {
    color: #afded3;
}

/* selected playlist */

.selected-playlist {
    align-items: center;
    align-content: center;
    background-color: #0cb990;
    border-radius: 1px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.selected-playlist .year {
    color: #afded3;
}

.selected-playlist .social-i {
    color: #afded3;
}

.selected-playlist .social-i:hover {
    color: #fff;
}

/* selected playlist hover */

.selected-playlist .social-i:hover {
    color: #fff;
}

/* playlist content */

.playlist-wrapper {
    border-bottom: 1px solid #414162;
}

.playlist {
    color: #dcdcf3;
    margin: 20px auto auto 70px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

/* hidden playlist content */

.hidden-playlist {
    display: none;
}

h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
}

.season, .link-list li {
    list-style: none;
    margin-bottom: 15px;
}

.selected-link span a {
    color: #ef6eae;
    text-decoration: underline;
}

.button-link {
    color: #ef6eae;
    border: 1px solid #ef6eae;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link:hover {
    background-color: #ef6eae;
    color: #fff;
    text-decoration: none;
}

.list-and-nav {
    width: 100%;
}

.nav {
    top: 50px;
    position: sticky;
    z-index: 99;
    overflow: auto;
    height: 90vh;;    
}

.description {
    margin-bottom: 20px;
}


.season {
    margin-bottom: 5px;
}

.season a {
    color: #ef6eae;
    text-decoration: none;
}

.season a:hover {
    color: #fff;
}

.liner-notes {
    margin-bottom: 25px;
    max-width: 600px;
}

ol {
    line-height: 1;
    margin-bottom: 30px;
}

.footnotes {
    color: #999;
    font-size: 13px;
    font-style: italic;
    margin-top: -20px;
}

